@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html, body, input { font-family: Lato, sans-serif; }
html, body { margin: 0; padding: 0; }
.wrapper { padding: 0 40px; }
.container { max-width: 600px; min-width: 300px;
	margin: 0 auto; position: relative;
}
#banner {
	background: #000; color: white;
	padding-top: 40px; padding-bottom: 40px;
}
#title  { font-size: 3em; padding-left: 100px; }
#subtitle { font-size: 2em; color: #ccc; padding-left: 100px; }
h1 { font-weight: normal; font-size: 2em; padding: 0; margin: 1em 0 0 0; }
p { color: #666; padding: 0; margin: 0 0 1em 0; }

h1, p { z-index: 1; position: relative; padding-left: 70px; }
#frog {
	width: 250px; height: 250px; position: absolute;
	left: -180px; z-index: 0;
	background: url('frog.jpg') no-repeat left center;
}
#footer {
	margin-top: 40px; margin-bottom: 80px;
	color: #ccc;
}
 
span.coffee-icon {
    background-image: url(coffee-icons.jpg);
    display: inline-block;
    margin: 0 7px;
    line-height: 18px;
    height: 100px;
    width: 115px;
    max-width: 115px;
    overflow: hidden;
    background-repeat: no-repeat;
}

span.icon-latte {background-position: -0px -0px;}
span.icon-mocha {background-position: -105px -0px;}
span.icon-cappuccino {background-position: -210px -0px;}
span.icon-decaf {background-position: -0px -100px;}
span.icon-halfcaf {background-position: -105px -100px;}
span.icon-extra-shot {background-position: -210px -100px;}
span.icon-soy {background-position: -0px -200px;}
span.icon-nonfat {background-position: -105px -200px;}
span.icon-espresso {background-position: -210px -200px;}
span.icon-iced {background-position: -0px -300px;}
span.icon-irish {background-position: -105px -300px;}
span.icon-americano {background-position: -210px -300px;}
